<app-base-device-preferences
  title="Laptop Preferences"
  description="Tell us what matters most to find your perfect match."
  [form]="form"
  (save)="onSubmit()"
>
  <app-battery-performance-input
    [value]="batteryPriority"
    (valueChange)="onBatteryPriorityChange($event)"
  />

  <app-ram-choice-input
    [value]="ramOption"
    (valueChange)="onRamOptionChange($event)"
  />

  <app-display-size-input
    [value]="displaySize"
    (valueChange)="onDisplaySizeChange($event)"
  />

  <app-price-range-input
    [value]="priceRange"
    (valueChange)="onPriceRangeChange($event)"
  />
</app-base-device-preferences>
